{% extends 'layouts/base.html' %}

{% block content %}

  {% include "includes/navigation-light.html" %}
  <div class="container mt-5">
  <div class="row">
  <h1 class="mb-4">Qualified Technical Staff</h1>
  <div class="col-lg-12 mx-auto">
  <div class="position-relative overflow-hidden shadow-lg mb-7">

    {% if worker_list %}
    <table class="table table-bordered mb-0">
      <tr class="thead-dark">
        <th>ID</th>
        <th>Username</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Position</th>
      </tr>
    {% for worker in worker_list %}
      <tr>
        <td>{{ worker.id }}</td>
        <td><a href="{{ worker.get_absolute_url }}">{{ worker.username }} {% if user == worker %} (Me){% endif %}</a></td>
        <td>{{ worker.first_name }}</td>
        <td>{{ worker.last_name }}</td>
        <td>{{ worker.license_number }}</td>
      </tr>
    {% endfor %}
    </table>

    {% else %}
      <p>There are no workers</p>
    {% endif %}
  </div>
  </div>
  </div>
  </div>

{% endblock %}